@{
    ViewBag.Title = "Contato UbiWork";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av: Barata Ribeiro,410<br />
    Vila Prudente de Moraes,Itu/SP, 13306-220<br />
    <abbr title="Phone">Telefone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support UbiWork:</strong>   <a href="mailto:FaleUbiWork@example.com">Support-UbiWork@example.com</a><br />
    <strong> UbiWork-Marketing:</strong> <a href="mailto:UbiWork-Marketing@example.com">Marketing-UbiWork@example.com</a>
</address>